
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CHU Douera service laboratoire-Connexion </title>
  <link href="{%static 'https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'%}" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% load static %}
  <link rel="stylesheet" href="{%static 'registration/login.css' %}" type"text/css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <h1 class="mb-3" style="color:#18465A"><center><strong>Centre hospitalo-Universitaire Douéra</strong></center></h1>
          <h2 style="color:#1F5771;"> <center><strong> Laboratoire Centrale</strong></center></h2>
          <div class="login-wrapper my-auto">
              <h3 class="login-title">Connecter</h3>
            <form action="#!" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Nom d'utilisateur</label>
                <input  type="text" name="username" id="username" class="form-control" placeholder="Entrer votre nom d'utilisateur">
              </div>
              <div class="form-group mb-4">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Entrer votre mot de passe">
                <div>
							<a href="#" class="txt1">
								Mot de passe oublié?
							</a>
						</div>
              </div>
              <button name="login" id="login" class="btn btn-block login-btn">Connexion</button>
            </form>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src=" {% static 'registration/login.jpg' %}" alt="login image" class="login-img'%}">

        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
