<!-- Grey with black text -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Accueil</title>

  </head>
  <body style="background-color: #b2c7f1;">

    <!-- Blue with white text -->


    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <nav class="navbar navbar-dark bg-primary">

        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/profile">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dossierpatient/create">Ajouter dossier</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/analyses/ Demande/Create-demande">Ajouter Demande</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="analyses/ Demande/Result/Create-CoproParasitology-Result">Ajouter résultat</a>
          </li>

          <li>
              <form class="form-inline my-2 my-lg-0" action="/action_page.php">
                   <input class="form-control mr-sm-2" type="text" placeholder="Chercher">
                   <button class="btn btn-primary" type="submit" style="background-color: #4464f3;">Chercher</button>
              </form>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/logout">Déconnexion</a>
          </li>
        </ul>
      </nav>
      </nav>



  </body>
</html>
